@import '../../../variables';

.NoteViewDisplay {
    &__title {
        font-size: 1.5rem;
        color: $title-color;
        margin: 0;
    }

    &__id {
        margin-right: 10px;
        color: $text-muted-color;
        font-size: 1rem;
    }

    &__text {
        font-size: 1rem;
        padding: 20px 0;
    }
}
