$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$background-color: #1b1b1b;
$title-color: #c80524;
$text-muted-color: #b5b5b5;
